@media (min-width: 400px) {
      
 
}
@media (min-width: 576px) {
    
    .search-box__btn{
      font-size: 1.5rem !important;
      }
      .form-control{
        font-size: 2rem !important;
      }
    }
    @media (min-width: 768px) {
      
      
     
    }
    @media (min-width: 992px) {
        body{
            padding: 0 !important;
        }

      .mobile-menu{
          display: none;
      }
      .nav-tabs{
        display: block;
      }
      .search-box-header{
        display: flex !important;
    }
    .list-group-title {
      display: flex !important;
    }

    .footer-box__col{
      align-items: flex-start;
    }

    .p-sticky{
        display: block;
    }
    .breadcrumb__right{
        display: none ;
    }
    

    
    }
    @media (min-width: 1200px) {
      
      .list-group{
        margin-top: -18%;
    }
    .list-group__drop-down{
        width: 96%;
      }

      
    }
    @media (min-width: 1400px) {
      .list-group{
        margin-top: -15.9%;
    }
    .list-group__drop-down{
        width: 97%;
      }
    }