@media (min-width: 576px) {
    .c-caption{
      top: 30%;
      }
      .carousel-indicators{
        display: flex;
      }
      .view-all{
        top: 50%;
      }
      .form-control{
        font-size: 2rem !important;
      }
    .search-box__btn{
      font-size: 1.5rem !important;
      }
    }
    @media (min-width: 768px) {
      .c-caption__text1{
        font-size: 250%;
      }
      .c-caption__text2{
        font-size: 250%;
        font-weight: var(--fw8);
      }
      .circle{
        left: -5%;
      }
    }
    @media (min-width: 992px) {
      .mobile-menu{
          display: none;
      }
      .nav-tabs{
        display: block;
      }
      .search-box-header{
        display: flex !important;
    }
    .list-group-title {
      display: flex !important;
    }

    .carousel-item{
      height: 51rem;
    }
    .circle{
      left: -2%;
    }
    .footer-box__col{
      align-items: flex-start;
  }
    
    }
    @media (min-width: 1200px) {
      .c-caption__text1{
        font-size: 300%;
      }
      .c-caption__text2{
        font-size: 300%;
        font-weight: var(--fw8);
      }
      .list-group{
        margin-top: -18%;
    }
    .list-group__drop-down{
        width: 96%;
      }
      
    }
    @media (min-width: 1400px) {
      .list-group{
        margin-top: -15.9%;
    }
    .list-group__drop-down{
        width: 97%;
      }
    }