@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-color : #ff3b3b;
    --secondary-color : #794afa;
    --secondary-dark-color : #453c5c;

    --white-color : #fff;
    --light-bg-color : #f2f3f5;
    --light-text-color : #7c899a;
    --border-color : #e5e8ec;
    --dark-color : #0a021c;

    --font-small:13px;
    --font-smaller:11px;

    --percent100 : 100%;
    --percent50 : 50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;

    --trans-background-color : background-color .3s color .3s;
    --trans-background : background-color .3s;
    --trans-color: color .3s;
}



/*

===============

    reset

===============

*/

*{
    margin:0 ;
    padding: 0;
    transition: all .2s;
}
*,::after,::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a{
    text-decoration: none;
    color: inherit;
    /* -webkit-tap-highlight-color: transparent; */
}

ul{
    list-style: none;
}
li{
    list-style-type: none;
}


img{
    max-width: var(--percent100);
    vertical-align: middle;
}

strong{
    font-weight: var(--fw8);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder{
    font: inherit;
}

h1,h2,h3,h4{
    font-family: "Poppins";
}

h1{
    font-size: calc(1.3em+1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4{
    font-size: 1em;
    font-weight: var(--6);
}

/*

===============

    component

===============

*/

.d-none{
    display: none !important;  
}
.dis-flex{
    display: flex !important;
}

.r-0{
    right : 0 !important;
}

.bTn{
    width: 11rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    font-size: var(--font-small);
    font-weight: var(--fw8);
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}

/*

===============

    Header

===============

*/
.nav-link {
    font-weight: var(--fw8);
    color: var(--light-text-color);
}
.nav-link:hover{
    color: var(--secondary-color);
}
.dropdown-item{
    font-size: var(--font-small);
    color: var(--light-text-color);
    padding: .5rem 1rem;
}
.hamburger-icon{
    margin: 2rem 1rem;
}

.bar1, .bar2, .bar3 {
    width: 3.5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: var(--light-text-color);
    margin: .6rem 0 0 .5rem;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu-hamburger {
    height: 100vh;
    width: 25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50rem;
    background-color: var(--white-color);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .menu-hamburger a, .dropdown-btn {
    padding: .6rem .8rem 2.5rem 1.6rem;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    
  }
  
  .menu-hamburger a:hover, .dropdown-btn:hover {
    color: var(--secondary-color);
  }

  .dropdown-container {
    margin: -1.25rem 1rem 1rem ;
    border: 1px solid var(--light-text-color);
    border-radius: .5rem;
    padding-left: 8px;
  }
  .dropdown-container a {
    padding: 1rem;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .menu-hamburger {padding-top: 15px;}
    .menu-hamburger a {font-size: 18px;}
  }

  /*

===============

    nav and tabs

===============

*/

.logo{
    width: 8rem;
    height: 4rem;
    border-radius: .5rem;
}

.nav-tabs__link , .wItem{
    font-weight: var(--fw8);
    font-size: 1.6rem;
    color: var(--light-text-color);
    cursor: pointer;
}
.nav-tabs__link:hover , .wItem:hover {
    color: var(--secondary-color);
}
.nav-tabs__Sport-badge{
    font-size: 1rem;
    top: -1rem;
}
.like-number{
    padding: .35rem .6rem;
    top: .5rem !important;
    left: 3.35rem !important;
}

.nav-tabs__price{
    font-size: var(--font-small);
    width: 3rem;
    font-weight: var(--fw7);
}
.navs-tabs__woman{
    min-width: 8.5rem;
}

.nav-tabs-women-menu{
    display: none;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: var(--light-bg-color);
}

.nav-tabs-women-menu__link{
    font-weight: var(--fw6);
    font-size: 1.6rem;
    color: var(--dark-color);
}

.nav-tabs-women-menu__link--active{
    font-weight: var(--fw8);
    font-size: 1.8rem;
}
.nav-tabs-women-menu__most-wanted{
    background-image: url(../images/products/apparel4.jpg);
    background-size: cover;
    background-position: center;
    width: 20%;
}
.nav-tabs-women-menu__most-wanted-text{
    text-align: center;
    width: 5rem;
    font-weight: var(--fw8);
    margin-left: -6.5rem;
    font-size: 3rem;
    color: var(--secondary-dark-color);
}

  /*

===============

    search box header

===============

*/
.search-box-header{
    background-color: var(--secondary-dark-color);
    height: 10vh;
}

.input-group{
    width: 40%;
    height: 6vh; 
}
.search-box__icon{
    z-index: 999;
    top: 25%;
    left: 1%;
}
.form-control{
    border-top-left-radius: .75rem !important;
    border-bottom-left-radius: .75rem !important;
    font-size: 1.25rem !important;
    font-family: "Poppins";
    padding-left: 3.5rem !important;
}

.form-control:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.search-box__btn{
    font-size: 1.25rem !important;
    border-top-right-radius: .75rem !important;
    border-bottom-right-radius: .75rem !important;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.search-box__btn:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
